#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: relative;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
    background-color: #111;
}
#login ul {
    list-style-type: none;
    margin: 0px 5px;
    overflow: hidden;
    position: sticky;
    position: relative;
}

#login li {
    float: right;
    padding: 10px;
}

#login li a {
    display: inline;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0px 10px;
}

.login div a{
    text-decoration: none;
}

#back_button{
    background-color: #6EB5DC;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

}
#back_button:hover{
    background-color: #268ADA;
    color: black;
}
#view_button{
    border: 2px solid #333;
    border-radius: 5px;
    color: black;
    padding: 5px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
#view_button:hover{
    background-color: #333;
    color: white;
}
