{% extends 'base.html.twig' %}

{% block title %}
    Hello {{ name }}!
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

{% endblock %}

{% block body %}
    <p>
        Hello {{ name }}!
    </p>
{% endblock %}