{% extends 'base.html.twig' %}

{% block title %}
    {{ 'app_title'|trans }}
{% endblock %}

{% block body %}
    <div id="tekst">
        <article id="tekst">
            <h1>Witaj w Aplikacji Q&A</h1>
            <p>Zaloguj się aby móc zadawać pytania i udzielać odpowiedzi.</p>
            <br>

        </article>
    </div>
{% endblock %}